/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.principal{
   display: flex;
     
}
body
    background-image: url("intensamente-2.webp");
    background-repeat: no-repeat


{
.titulos
font-size: 50px;

text-align: center;







}